*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #0a69ed;
}

.btn{
  padding: 1rem 1rem;
  width: 7rem;
  height: 3.3rem;
  border-radius: 8px;
  font-size: large;
  font-family: none;
  font-weight: 600;  
}

.start-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz {
  width: 28%;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  height: 33rem;
  background: white;
  border-radius: 1.2rem;
}

.header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  border-bottom: 3px solid gray;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.timer-div{
  width: 7.5rem;
  background: burlywood;
  height: 3rem;
  border-radius: 7rem;
}

.timer-div span{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------
Q & A section 
--------------- */

.quiz-QA-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  height: 60%;
  gap: 2rem;
  width: 100%;
}

.answers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 1rem;
  border: 3px solid lightgrey;
  height: 3.2rem;
  padding: 1rem 
}

.q-question{
  font-weight: 600;
}

.next-btn{
  border-radius: 7px;
  padding: 14px 30px;
  font-weight: 600;
  color: white;
  background: #2478ec;
  float: right;
  margin-top: 9%; 
  cursor: pointer;
}

.answer-section{
  width: 100%;
  cursor: pointer;
}
